<div class="tui-container tui-container_adaptive auth">
	<form [formGroup]="form" class="form">
		<div class="tui-row tui-row_sme">
			<div class="tui-col_12">
				<h2 class="tui-form__header tui-form__header_margin-top_none">Регистрация нового проекта</h2>

				<div class="tui-form__row">
					<tui-input formControlName="name">
						Введите название проекта
						<input
							tuiTextfield
							type="text"
						/>
					</tui-input>
					<tui-error
						formControlName="name"
						[error]="[] | tuiFieldError | async"
					></tui-error>
				</div>

				<div class="tui-form__buttons">
					<button
						tuiButton
						type="button"
						appearance="primary"
						class="tui-form__button"
						(click)="createProject()"
					>
						Продолжить
					</button>
				</div>
			</div>
		</div>
	</form>
</div>
