<div class="tui-row tui-row_adaptive container">
	<div
		class="tui-col_xs-12 tui-col_s-12 tui-col_sm-12 tui-col_md-12 tui-col_lg-12"
	>
		<a (click)="service.goToFeatureList()">
			<tui-svg src="tuiIconChevronLeftLarge"></tui-svg>
			Назад
		</a>

		<form [formGroup]="form">
			<div class="tui-row tui-row_sme">
				<div class="tui-col_12">
					<h3 class="tui-form__header">Новое требование</h3>
					<div class="tui-form__row">
						<tui-input formControlName="name">
							Название
							<input
								tuiTextfield
								type="text"
							/>
						</tui-input>
						<tui-error
							formControlName="name"
							[error]="[] | tuiFieldError | async"
						></tui-error>
					</div>

					<div class="tui-form__row">
						<tui-text-area
							formControlName="description"
							[expandable]="true"
						>
							Описание
						</tui-text-area>
					</div>

					<div class="tui-form__row item">
						<div class="name">Состояние</div>
						<tui-toggle
							formControlName="status"
							size="l"
							[showIcons]="true"
						></tui-toggle>
					</div>

					<div class="tui-form__buttons">
						<button
							tuiButton
							size="l"
							type="submit"
							class="tui-form__button"
							(click)="createRequirement()"
						>
							Создать
						</button>
						<button
							tuiButton
							type="button"
							appearance="flat"
							size="l"
							class="tui-form__button"
							(click)="service.goToFeatureList()"
						>
							Отмена
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
